
.mfv-433 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-433 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #68d5ff;
}

.mfv-433 { background-image: none; }
.mfv-433 .m-layer1 { background-image: none; }

.mfv-433.hovered { background-image: none; }
.mfv-433.hovered .m-layer1 { background-image: none; }

.mfv-433.selected { background-image: none; }
.mfv-433.selected .m-layer1 { background-image: none; }

.mfv-433.selected.hovered { background-image: none; }
.mfv-433.selected.hovered .m-layer1 { background-image: none; }
.mfv-433-state,
.mfv-433-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-433-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #68d5ff;
}

.mfv-433-state { background-image: none; }
.mfv-433-state .m-layer1 { background-image: none; }

.mfv-434 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-434 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #2843ff;
}

.mfv-434 { background-image: none; }
.mfv-434 .m-layer1 { background-image: none; }

.mfv-434.hovered { background-image: none; }
.mfv-434.hovered .m-layer1 { background-image: none; }

.mfv-434.selected { background-image: none; }
.mfv-434.selected .m-layer1 { background-image: none; }

.mfv-434.selected.hovered { background-image: none; }
.mfv-434.selected.hovered .m-layer1 { background-image: none; }
.mfv-434-state,
.mfv-434-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-434-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #2843ff;
}

.mfv-434-state { background-image: none; }
.mfv-434-state .m-layer1 { background-image: none; }

.mfv-435 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-435 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #417630;
}

.mfv-435 { background-image: none; }
.mfv-435 .m-layer1 { background-image: none; }

.mfv-435.hovered { background-image: none; }
.mfv-435.hovered .m-layer1 { background-image: none; }

.mfv-435.selected { background-image: none; }
.mfv-435.selected .m-layer1 { background-image: none; }

.mfv-435.selected.hovered { background-image: none; }
.mfv-435.selected.hovered .m-layer1 { background-image: none; }
.mfv-435-state,
.mfv-435-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-435-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #417630;
}

.mfv-435-state { background-image: none; }
.mfv-435-state .m-layer1 { background-image: none; }

.mfv-436 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-436 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #000000;
}

.mfv-436 { background-image: none; }
.mfv-436 .m-layer1 { background-image: none; }

.mfv-436.hovered { background-image: none; }
.mfv-436.hovered .m-layer1 { background-image: none; }

.mfv-436.selected { background-image: none; }
.mfv-436.selected .m-layer1 { background-image: none; }

.mfv-436.selected.hovered { background-image: none; }
.mfv-436.selected.hovered .m-layer1 { background-image: none; }
.mfv-436-state,
.mfv-436-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-436-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.mfv-436-state { background-image: none; }
.mfv-436-state .m-layer1 { background-image: none; }

.mfv-437 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-437 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #fffcd8;
}

.mfv-437 { background-image: none; }
.mfv-437 .m-layer1 { background-image: none; }

.mfv-437.hovered { background-image: none; }
.mfv-437.hovered .m-layer1 { background-image: none; }

.mfv-437.selected { background-image: none; }
.mfv-437.selected .m-layer1 { background-image: none; }

.mfv-437.selected.hovered { background-image: none; }
.mfv-437.selected.hovered .m-layer1 { background-image: none; }
.mfv-437-state,
.mfv-437-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-437-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fffcd8;
}

.mfv-437-state { background-image: none; }
.mfv-437-state .m-layer1 { background-image: none; }

.mfv-438 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-438 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.mfv-438 { background-image: none; }
.mfv-438 .m-layer1 { background-image: none; }

.mfv-438.hovered { background-image: none; }
.mfv-438.hovered .m-layer1 { background-image: none; }

.mfv-438.selected { background-image: none; }
.mfv-438.selected .m-layer1 { background-image: none; }

.mfv-438.selected.hovered { background-image: none; }
.mfv-438.selected.hovered .m-layer1 { background-image: none; }
.mfv-438-state,
.mfv-438-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-438-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.mfv-438-state { background-image: none; }
.mfv-438-state .m-layer1 { background-image: none; }

.mfv-439 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-439 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ff0000;
}

.mfv-439 { background-image: none; }
.mfv-439 .m-layer1 { background-image: none; }

.mfv-439.hovered { background-image: none; }
.mfv-439.hovered .m-layer1 { background-image: none; }

.mfv-439.selected { background-image: none; }
.mfv-439.selected .m-layer1 { background-image: none; }

.mfv-439.selected.hovered { background-image: none; }
.mfv-439.selected.hovered .m-layer1 { background-image: none; }
.mfv-439-state,
.mfv-439-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-439-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff0000;
}

.mfv-439-state { background-image: none; }
.mfv-439-state .m-layer1 { background-image: none; }

.mfv-445 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-445 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ffebb8;
}

.mfv-445 { background-image: none; }
.mfv-445 .m-layer1 { background-image: none; }

.mfv-445.hovered { background-image: none; }
.mfv-445.hovered .m-layer1 { background-image: none; }

.mfv-445.selected { background-image: none; }
.mfv-445.selected .m-layer1 { background-image: none; }

.mfv-445.selected.hovered { background-image: none; }
.mfv-445.selected.hovered .m-layer1 { background-image: none; }
.mfv-445-state,
.mfv-445-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-445-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffebb8;
}

.mfv-445-state { background-image: none; }
.mfv-445-state .m-layer1 { background-image: none; }

.mfv-446 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-446 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #5900f7;
}

.mfv-446 { background-image: none; }
.mfv-446 .m-layer1 { background-image: none; }

.mfv-446.hovered { background-image: none; }
.mfv-446.hovered .m-layer1 { background-image: none; }

.mfv-446.selected { background-image: none; }
.mfv-446.selected .m-layer1 { background-image: none; }

.mfv-446.selected.hovered { background-image: none; }
.mfv-446.selected.hovered .m-layer1 { background-image: none; }
.mfv-446-state,
.mfv-446-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-446-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #5900f7;
}

.mfv-446-state { background-image: none; }
.mfv-446-state .m-layer1 { background-image: none; }

.mfv-447 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-447 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ffa0db;
}

.mfv-447 { background-image: none; }
.mfv-447 .m-layer1 { background-image: none; }

.mfv-447.hovered { background-image: none; }
.mfv-447.hovered .m-layer1 { background-image: none; }

.mfv-447.selected { background-image: none; }
.mfv-447.selected .m-layer1 { background-image: none; }

.mfv-447.selected.hovered { background-image: none; }
.mfv-447.selected.hovered .m-layer1 { background-image: none; }
.mfv-447-state,
.mfv-447-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-447-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffa0db;
}

.mfv-447-state { background-image: none; }
.mfv-447-state .m-layer1 { background-image: none; }

.mfv-448 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-448 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #d300c3;
}

.mfv-448 { background-image: none; }
.mfv-448 .m-layer1 { background-image: none; }

.mfv-448.hovered { background-image: none; }
.mfv-448.hovered .m-layer1 { background-image: none; }

.mfv-448.selected { background-image: none; }
.mfv-448.selected .m-layer1 { background-image: none; }

.mfv-448.selected.hovered { background-image: none; }
.mfv-448.selected.hovered .m-layer1 { background-image: none; }
.mfv-448-state,
.mfv-448-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-448-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #d300c3;
}

.mfv-448-state { background-image: none; }
.mfv-448-state .m-layer1 { background-image: none; }

.mfv-449 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-449 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ffef28;
}

.mfv-449 { background-image: none; }
.mfv-449 .m-layer1 { background-image: none; }

.mfv-449.hovered { background-image: none; }
.mfv-449.hovered .m-layer1 { background-image: none; }

.mfv-449.selected { background-image: none; }
.mfv-449.selected .m-layer1 { background-image: none; }

.mfv-449.selected.hovered { background-image: none; }
.mfv-449.selected.hovered .m-layer1 { background-image: none; }
.mfv-449-state,
.mfv-449-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-449-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffef28;
}

.mfv-449-state { background-image: none; }
.mfv-449-state .m-layer1 { background-image: none; }

.mfv-450 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-450 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #f77000;
}

.mfv-450 { background-image: none; }
.mfv-450 .m-layer1 { background-image: none; }

.mfv-450.hovered { background-image: none; }
.mfv-450.hovered .m-layer1 { background-image: none; }

.mfv-450.selected { background-image: none; }
.mfv-450.selected .m-layer1 { background-image: none; }

.mfv-450.selected.hovered { background-image: none; }
.mfv-450.selected.hovered .m-layer1 { background-image: none; }
.mfv-450-state,
.mfv-450-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-450-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f77000;
}

.mfv-450-state { background-image: none; }
.mfv-450-state .m-layer1 { background-image: none; }

.mfv-451 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-451 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #cf6b00;
}

.mfv-451 { background-image: none; }
.mfv-451 .m-layer1 { background-image: none; }

.mfv-451.hovered { background-image: none; }
.mfv-451.hovered .m-layer1 { background-image: none; }

.mfv-451.selected { background-image: none; }
.mfv-451.selected .m-layer1 { background-image: none; }

.mfv-451.selected.hovered { background-image: none; }
.mfv-451.selected.hovered .m-layer1 { background-image: none; }
.mfv-451-state,
.mfv-451-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-451-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #cf6b00;
}

.mfv-451-state { background-image: none; }
.mfv-451-state .m-layer1 { background-image: none; }

.mfv-452 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-452 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ff6484;
}

.mfv-452 { background-image: none; }
.mfv-452 .m-layer1 { background-image: none; }

.mfv-452.hovered { background-image: none; }
.mfv-452.hovered .m-layer1 { background-image: none; }

.mfv-452.selected { background-image: none; }
.mfv-452.selected .m-layer1 { background-image: none; }

.mfv-452.selected.hovered { background-image: none; }
.mfv-452.selected.hovered .m-layer1 { background-image: none; }
.mfv-452-state,
.mfv-452-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-452-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff6484;
}

.mfv-452-state { background-image: none; }
.mfv-452-state .m-layer1 { background-image: none; }

.mfv-454 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-454 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #b1b1b1;
}

.mfv-454 { background-image: none; }
.mfv-454 .m-layer1 { background-image: none; }

.mfv-454.hovered { background-image: none; }
.mfv-454.hovered .m-layer1 { background-image: none; }

.mfv-454.selected { background-image: none; }
.mfv-454.selected .m-layer1 { background-image: none; }

.mfv-454.selected.hovered { background-image: none; }
.mfv-454.selected.hovered .m-layer1 { background-image: none; }
.mfv-454-state,
.mfv-454-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-454-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #b1b1b1;
}

.mfv-454-state { background-image: none; }
.mfv-454-state .m-layer1 { background-image: none; }

.mfv-455 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-455 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #d28e00;
}

.mfv-455 { background-image: none; }
.mfv-455 .m-layer1 { background-image: none; }

.mfv-455.hovered { background-image: none; }
.mfv-455.hovered .m-layer1 { background-image: none; }

.mfv-455.selected { background-image: none; }
.mfv-455.selected .m-layer1 { background-image: none; }

.mfv-455.selected.hovered { background-image: none; }
.mfv-455.selected.hovered .m-layer1 { background-image: none; }
.mfv-455-state,
.mfv-455-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-455-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #d28e00;
}

.mfv-455-state { background-image: none; }
.mfv-455-state .m-layer1 { background-image: none; }

.mfv-456 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-456 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #cbb0a2;
}

.mfv-456 { background-image: none; }
.mfv-456 .m-layer1 { background-image: none; }

.mfv-456.hovered { background-image: none; }
.mfv-456.hovered .m-layer1 { background-image: none; }

.mfv-456.selected { background-image: none; }
.mfv-456.selected .m-layer1 { background-image: none; }

.mfv-456.selected.hovered { background-image: none; }
.mfv-456.selected.hovered .m-layer1 { background-image: none; }
.mfv-456-state,
.mfv-456-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-456-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #cbb0a2;
}

.mfv-456-state { background-image: none; }
.mfv-456-state .m-layer1 { background-image: none; }

.mfv-459 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-459 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #777777;
}

.mfv-459 { background-image: none; }
.mfv-459 .m-layer1 { background-image: none; }

.mfv-459.hovered { background-image: none; }
.mfv-459.hovered .m-layer1 { background-image: none; }

.mfv-459.selected { background-image: none; }
.mfv-459.selected .m-layer1 { background-image: none; }

.mfv-459.selected.hovered { background-image: none; }
.mfv-459.selected.hovered .m-layer1 { background-image: none; }
.mfv-459-state,
.mfv-459-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-459-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #777777;
}

.mfv-459-state { background-image: none; }
.mfv-459-state .m-layer1 { background-image: none; }

.mfv-460 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-460 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #bd2a2b;
}

.mfv-460 { background-image: none; }
.mfv-460 .m-layer1 { background-image: none; }

.mfv-460.hovered { background-image: none; }
.mfv-460.hovered .m-layer1 { background-image: none; }

.mfv-460.selected { background-image: none; }
.mfv-460.selected .m-layer1 { background-image: none; }

.mfv-460.selected.hovered { background-image: none; }
.mfv-460.selected.hovered .m-layer1 { background-image: none; }
.mfv-460-state,
.mfv-460-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-460-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #bd2a2b;
}

.mfv-460-state { background-image: none; }
.mfv-460-state .m-layer1 { background-image: none; }

.mfv-461 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-461 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-461 { background-image: url(../m-image/a/e/cicekli.jpg); }
.mfv-461 .m-layer1 { background-image: none; }

.mfv-461.hovered { background-image: url(../m-image/a/e/cicekli-2.jpg); }
.mfv-461.hovered .m-layer1 { background-image: none; }

.mfv-461.selected { background-image: url(../m-image/a/e/cicekli-1.jpg); }
.mfv-461.selected .m-layer1 { background-image: none; }

.mfv-461.selected.hovered { background-image: none; }
.mfv-461.selected.hovered .m-layer1 { background-image: none; }
.mfv-461-state,
.mfv-461-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-461-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-461-state { background-image: none; }
.mfv-461-state .m-layer1 { background-image: none; }

.mfv-462 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-462 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #49062f;
}

.mfv-462 { background-image: none; }
.mfv-462 .m-layer1 { background-image: none; }

.mfv-462.hovered { background-image: none; }
.mfv-462.hovered .m-layer1 { background-image: none; }

.mfv-462.selected { background-image: none; }
.mfv-462.selected .m-layer1 { background-image: none; }

.mfv-462.selected.hovered { background-image: none; }
.mfv-462.selected.hovered .m-layer1 { background-image: none; }
.mfv-462-state,
.mfv-462-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-462-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #49062f;
}

.mfv-462-state { background-image: none; }
.mfv-462-state .m-layer1 { background-image: none; }

.mfv-507 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-507 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #ff6600;
}

.mfv-507 { background-image: none; }
.mfv-507 .m-layer1 { background-image: none; }

.mfv-507.hovered { background-image: none; }
.mfv-507.hovered .m-layer1 { background-image: none; }

.mfv-507.selected { background-image: none; }
.mfv-507.selected .m-layer1 { background-image: none; }

.mfv-507.selected.hovered { background-image: none; }
.mfv-507.selected.hovered .m-layer1 { background-image: none; }
.mfv-507-state,
.mfv-507-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-507-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff6600;
}

.mfv-507-state { background-image: none; }
.mfv-507-state .m-layer1 { background-image: none; }

.mfv-508 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-508 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #f9f3ea;
}

.mfv-508 { background-image: none; }
.mfv-508 .m-layer1 { background-image: none; }

.mfv-508.hovered { background-image: none; }
.mfv-508.hovered .m-layer1 { background-image: none; }

.mfv-508.selected { background-image: none; }
.mfv-508.selected .m-layer1 { background-image: none; }

.mfv-508.selected.hovered { background-image: none; }
.mfv-508.selected.hovered .m-layer1 { background-image: none; }
.mfv-508-state,
.mfv-508-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-508-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f9f3ea;
}

.mfv-508-state { background-image: none; }
.mfv-508-state .m-layer1 { background-image: none; }

.mfv-520 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-520 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #884a25;
}

.mfv-520 { background-image: none; }
.mfv-520 .m-layer1 { background-image: none; }

.mfv-520.hovered { background-image: none; }
.mfv-520.hovered .m-layer1 { background-image: none; }

.mfv-520.selected { background-image: none; }
.mfv-520.selected .m-layer1 { background-image: none; }

.mfv-520.selected.hovered { background-image: none; }
.mfv-520.selected.hovered .m-layer1 { background-image: none; }
.mfv-520-state,
.mfv-520-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-520-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #884a25;
}

.mfv-520-state { background-image: none; }
.mfv-520-state .m-layer1 { background-image: none; }

.mfv-521 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-521 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-521 { background-image: url(../m-image/3/a/nostalji.png); }
.mfv-521 .m-layer1 { background-image: none; }

.mfv-521.hovered { background-image: url(../m-image/3/a/nostalji-2.png); }
.mfv-521.hovered .m-layer1 { background-image: none; }

.mfv-521.selected { background-image: url(../m-image/3/a/nostalji-1.png); }
.mfv-521.selected .m-layer1 { background-image: none; }

.mfv-521.selected.hovered { background-image: none; }
.mfv-521.selected.hovered .m-layer1 { background-image: none; }
.mfv-521-state,
.mfv-521-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-521-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-521-state { background-image: none; }
.mfv-521-state .m-layer1 { background-image: none; }

.mfv-523 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-523 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-color: #baa999;
}

.mfv-523 { background-image: none; }
.mfv-523 .m-layer1 { background-image: none; }

.mfv-523.hovered { background-image: none; }
.mfv-523.hovered .m-layer1 { background-image: none; }

.mfv-523.selected { background-image: none; }
.mfv-523.selected .m-layer1 { background-image: none; }

.mfv-523.selected.hovered { background-image: none; }
.mfv-523.selected.hovered .m-layer1 { background-image: none; }
.mfv-523-state,
.mfv-523-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-523-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #baa999;
}

.mfv-523-state { background-image: none; }
.mfv-523-state .m-layer1 { background-image: none; }

.mfv-524 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-524 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-524 { background-image: none; }
.mfv-524 .m-layer1 { background-image: none; }

.mfv-524.hovered { background-image: none; }
.mfv-524.hovered .m-layer1 { background-image: none; }

.mfv-524.selected { background-image: none; }
.mfv-524.selected .m-layer1 { background-image: none; }

.mfv-524.selected.hovered { background-image: none; }
.mfv-524.selected.hovered .m-layer1 { background-image: none; }
.mfv-524-state,
.mfv-524-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-524-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-524-state { background-image: none; }
.mfv-524-state .m-layer1 { background-image: none; }

.mfv-525 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-525 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-525 { background-image: none; }
.mfv-525 .m-layer1 { background-image: none; }

.mfv-525.hovered { background-image: none; }
.mfv-525.hovered .m-layer1 { background-image: none; }

.mfv-525.selected { background-image: none; }
.mfv-525.selected .m-layer1 { background-image: none; }

.mfv-525.selected.hovered { background-image: none; }
.mfv-525.selected.hovered .m-layer1 { background-image: none; }
.mfv-525-state,
.mfv-525-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-525-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-525-state { background-image: none; }
.mfv-525-state .m-layer1 { background-image: none; }

.mfv-536 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-536 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-536 { background-image: none; }
.mfv-536 .m-layer1 { background-image: none; }

.mfv-536.hovered { background-image: none; }
.mfv-536.hovered .m-layer1 { background-image: none; }

.mfv-536.selected { background-image: none; }
.mfv-536.selected .m-layer1 { background-image: none; }

.mfv-536.selected.hovered { background-image: none; }
.mfv-536.selected.hovered .m-layer1 { background-image: none; }
.mfv-536-state,
.mfv-536-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-536-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-536-state { background-image: none; }
.mfv-536-state .m-layer1 { background-image: none; }

.mfv-542 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-542 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-542 { background-image: none; }
.mfv-542 .m-layer1 { background-image: none; }

.mfv-542.hovered { background-image: none; }
.mfv-542.hovered .m-layer1 { background-image: none; }

.mfv-542.selected { background-image: none; }
.mfv-542.selected .m-layer1 { background-image: none; }

.mfv-542.selected.hovered { background-image: none; }
.mfv-542.selected.hovered .m-layer1 { background-image: none; }
.mfv-542-state,
.mfv-542-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-542-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-542-state { background-image: none; }
.mfv-542-state .m-layer1 { background-image: none; }

.mfv-629 .m-layer1 {
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}
.mfv-629 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.mfv-629 { background-image: none; }
.mfv-629 .m-layer1 { background-image: none; }

.mfv-629.hovered { background-image: none; }
.mfv-629.hovered .m-layer1 { background-image: none; }

.mfv-629.selected { background-image: none; }
.mfv-629.selected .m-layer1 { background-image: none; }

.mfv-629.selected.hovered { background-image: none; }
.mfv-629.selected.hovered .m-layer1 { background-image: none; }
.mfv-629-state,
.mfv-629-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-629-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-629-state { background-image: none; }
.mfv-629-state .m-layer1 { background-image: none; }

